@charset "UTF-8";
/* eSTILOS DE RESET CSS*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: black;
}

/* HEADER INICIO */
#header {
  max-width: 1800px;
  height: 80px;
  background-color: #212529;
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  position: fixed;
  z-index: 9999; /* Asegura que el menú se superponga */
}

/* Asegura que los enlaces dentro del menú estén alineados */
#navbarSupportedContent ul {
  width: 100%;
  justify-content: center;
}

@media (max-width: 767px) {
  .navbar {
    background-color: #212529; /* Menú hamburguesa con fondo oscuro */
    z-index: 10;
  }
}
/* Estilo para el fondo del menú desplegable */
.navbar-dark .navbar-collapse {
  background-color: #212529; /* Fondo oscuro similar al del menú principal */
}

/* Estilo para los enlaces dentro del menú desplegable */
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff; /* Letras blancas para un contraste adecuado */
}

/* Estilo para cuando el enlace es hover o activo */
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: crimson; /* Color de texto al hacer hover o que está activo */
}

/* Cambiar el color del icono del menú hamburguesa */
.navbar-dark .navbar-toggler-icon {
  background-color: white; /* Cambiar el color del icono a blanco para visibilidad */
}

/* MAIN INICIO*/
.fondo-inicio {
  max-width: 100%;
  height: auto;
}

.foto-fondo {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.destacado {
  width: 100%;
  color: #fff;
  text-align: center;
  border: none;
  background-color: #000;
  padding: 15px 15px;
}

.seccion-destacados {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.destacados-imagenes {
  border-radius: 10px;
}

.destacados-imagenes:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.destacados-imagenes img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
  transition: all 0.5s;
}

.destacados-imagenes figure {
  overflow: hidden;
}

.destacados-imagenes:hover img {
  transform: scale(1.2);
}

.titulo-coleccion {
  text-align: center;
  border: none;
  background: none;
  background-color: #212529;
  color: #fff;
  padding: 15px 15px;
}

.categorias {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.categoria-img {
  border-radius: 10px;
}

.categoria-img:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.categoria-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
  transition: all 0.5s;
}

.categoria-img figure {
  overflow: hidden;
}

.categoria-img:hover img {
  transform: scale(1.2);
}

.categoria {
  padding: 50px 0px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.categoria button {
  border: none;
  background: none;
  background-color: #000;
  color: #fff;
  padding: 15px 15px;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
}

.h1-inicio {
  font-family: "roboto", sans-serif; /* Mantén la misma tipografía */
  font-size: 40px; /* Ajusta el tamaño según lo que necesites */
  font-weight: bold;
  text-align: center; /* Centra el texto */
  background-color: #000; /* Fondo en color crimson */
  color: white; /* Color de texto blanco para contrastar con el fondo */
  padding: 20px; /* Añade espacio alrededor del texto */
  margin: 0; /* Elimina márgenes por defecto */
  position: relative; /* Para agregar un efecto extra como sombra o borde */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para darle profundidad */
  text-transform: uppercase; /* Da un toque más elegante al texto */
  letter-spacing: 1px; /* Espaciado entre letras para mejorar la legibilidad */
}

.h1-inicio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2); /* Sombra tenue */
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.3); /* Sombra para dar brillo */
  z-index: -1; /* Pone la sombra detrás del texto */
}

.h1-inicio:hover {
  background-color: #dc3545; /* Cambia el color de fondo al pasar el ratón */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); /* Sombra más intensa al hacer hover */
  transform: scale(1.05); /* Efecto de zoom suave al hacer hover */
  transition: all 0.3s ease-in-out; /* Transición suave */
}

/* MAIN ACERCA DE */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/fondos/debb0883c5bfcb992808eea826d3bbcc.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin: auto;
}

.container-section-1 {
  width: 75%;
  margin: auto;
  padding: 100px 0;
}

.section-1-title {
  font-family: "roboto", sans-serif;
  font-size: 40px;
  color: crimson;
  font-weight: bold;
  margin: 25px 0;
}

.us {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.us-text {
  width: 55%;
  padding: 0 20px;
}

.us-paragraph {
  font-family: "roboto", sans-serif;
  font-size: 18px;
  color: #fff;
  text-align: justify;
}

.paragraph-text {
  margin: 10px 0;
  color: #e6dcd6;
}

.us-rs {
  margin-top: 20px;
  align-self: flex-start;
}

.us-rs-title {
  font-family: "roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: crimson;
}

.rs-icon {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.rs-link {
  margin: 0 10px;
}

.us-img {
  width: 40%;
  text-align: right;
  display: flex;
  align-items: center; /* Centra la imagen verticalmente */
  justify-content: center;
  background-color: #000; /* Color de fondo para distinguir la imagen */
  border-radius: 5px;
  padding: 10px; /* Espacio alrededor de la imagen */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar la imagen */
}

.img-img {
  object-fit: cover;
  width: 100%;
  height: 100%; /* La imagen ocupará todo el alto del contenedor .us-img */
  border-radius: 5px;
}

/* MAIN CONTACTO */
main.main-contacto {
  min-height: calc(100vh - 80px - 100px); /* Ajusta 80px y 100px a la altura de tu header y footer */
}

.main-contacto {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/fondos/debb0883c5bfcb992808eea826d3bbcc.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-contacto {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: 20px;
  gap: 10px;
  width: 100%;
}

.box-info {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.box-info h1 {
  text-align: left;
  letter-spacing: 5px;
  color: #fff;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #fff;
}

.data p {
  font-size: 1rem;
  color: #fff;
}

.data p i {
  color: crimson;
  margin-right: 10px;
  font-size: 25px;
}

.links {
  display: flex;
  gap: 15px;
}

.links a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  background: crimson;
  text-align: center;
  transition: 0.1s;
}

.links a i {
  color: #fff;
  line-height: 40px;
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.input-box {
  position: relative;
}

.input-box input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  color: #fff;
}

.input-box textarea {
  width: 100%;
  height: 130px;
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: 0.3s;
  color: #fff;
}

.input-box input:focus, .input-box textarea:focus {
  border-bottom: 3px solid crimson;
}

.input-box input::placeholder, .input-box textarea::placeholder {
  color: #a3a3a3;
}

.input-box input:focus::placeholder, .input-box textarea:focus::placeholder {
  color: transparent;
}

.input-box textarea {
  width: 100%;
  height: 130px;
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: 0.3s;
  color: #fff;
  padding: 10px;
  outline: none;
}

.input-box i {
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.input-box input:focus ~ i {
  color: crimson;
}

.form button {
  background-color: crimson;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px;
  transition: 0.2s;
}

.form button:hover, .links a:hover {
  background: rgb(136, 13, 38);
}

/* MAIN HOMBRE*/
.productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.producto {
  border-radius: 10px;
}

.producto:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.producto img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
  transition: all 0.5s;
}

.producto figure {
  overflow: hidden;
}

.producto:hover img {
  transform: scale(1.2);
}

.info-producto {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.precio {
  font-size: 18px;
  font-weight: 700;
}

.info-producto button {
  border: none;
  background: none;
  background-color: #000;
  color: #fff;
  padding: 15px 15px;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
}

/* FOOTER INICIO */
.footer {
  position: relative;
  width: 100%;
  background: #212529;
  min-height: 100px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2; /* Asegura que el footer esté por encima en dispositivos móviles */
}

/* Estilo para los iconos sociales */
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 5px;
  flex-wrap: wrap;
}

.icon-elem {
  list-style: none;
}

.icon {
  color: white;
  font-size: 32px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.5s;
}

.icon:hover {
  transform: translateY(-10px);
}

.menu {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu-elem {
  list-style: none;
}

/* Estilo para el menú, colores y transición */
.menu-icon {
  color: white;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px;
  opacity: 0.5;
  transition: 0.3s;
}

.menu-icon:hover {
  opacity: 1;
}

.text {
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
}

/* Estilo para los iconos del menú, con transición */
.menu-icon {
  color: white;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px;
  opacity: 0.5;
  transition: 0.3s;
}

/* Color crimson al pasar el mouse */
.menu-icon:hover {
  opacity: 1;
  color: crimson; /* Cambia el color al pasar el mouse */
}

/* Color crimson para el elemento seleccionado */
.menu-icon.selected {
  color: crimson; /* Cambia el color al estar seleccionado */
}

/* Diseño de productos: Columna en pantallas grandes y pequeñas */
.productos .producto {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .producto {
    text-align: center;
  }
  .info-producto h2 {
    font-size: 1.2rem;
  }
  .precio {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .navbar-collapse {
    text-align: center;
  }
  .navbar-nav {
    padding-top: 10px;
  }
}
@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
  .navbar-nav {
    margin-top: 10px;
  }
  .navbar-toggler {
    margin-top: 10px;
  }
}
img {
  max-width: 100%;
  height: auto;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.producto {
  flex: 1 1 calc(33.333% - 20px); /* tres productos por fila */
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .producto {
    flex: 1 1 calc(50% - 20px); /* dos productos por fila */
  }
}
@media (max-width: 576px) {
  .producto {
    flex: 1 1 100%; /* un producto por fila */
  }
}

/*# sourceMappingURL=style.css.map */
