/* FOOTER INICIO */

.footer {
    position: relative;
    width: 100%;
    background: #212529;
    min-height: 100px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2; /* Asegura que el footer esté por encima en dispositivos móviles */
}

/* Estilo para los iconos sociales */
.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem {
    list-style: none;
}

.icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elem {
    list-style: none;
}

/* Estilo para el menú, colores y transición */
.menu-icon {
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

.text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

/* Estilo para los iconos del menú, con transición */
.menu-icon {
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

/* Color crimson al pasar el mouse */
.menu-icon:hover {
    opacity: 1;
    color: crimson;  /* Cambia el color al pasar el mouse */
}

/* Color crimson para el elemento seleccionado */
.menu-icon.selected {
    color: crimson;  /* Cambia el color al estar seleccionado */
}